body{
  margin: 0px;
}

#container{
  margin: auto;
}

#map{
  position: fixed;
  top: -30px;
  left: 60px;
}

#tower{
  position: fixed;
  top: 80px;
  left: 945px;
}

#telephone{
  position: fixed;
  top: 60px;
  left: 520px;
}

#church{
  position: fixed;
  top: 40px;
  left: 600px;
}

.landmark{
  transform: scale(0.45);
  transition-property: transform;
  transition-duration: 0.5s;
}

.landmark:hover{
  transform: scale(0.6);
}

.skyline{
  width: 60%;
  z-index: -25;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 1s;

}

#shanghai{
  position: fixed;
  bottom: -10px;
  left: -30px;

}

#london{
  position: fixed;
  bottom: 0px;
  right: -55px;

}

#helsinki{
  position: fixed;
  bottom: 0px;
  left: 300px;

}
